@import 'tailwindcss';
@import 'fumadocs-ui/css/solar.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --color-fd-primary: hsl(199 89% 48%);
  --color-fd-primary-foreground: hsl(0 0% 100%);
}

.dark {
  --color-fd-primary: hsl(199 80% 55%);
  --color-fd-primary-foreground: hsl(0 0% 5%);
}
